@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

form {
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
}

button[type="submit"] {
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background: var(--primary-color-darker);
}

button[type="submit"]:active {
  transform: scale(0.98);
}

.error {
  color: red;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.ok {
  color: green;
}