@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.container-table {
  max-width: 1500px;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  font-size: 16px;
  margin: 20px 0;
}

table th {
  background: var(--primary-color-darker);
  color: #fff;
  padding: 10px;
  text-align: left;
  border: 1px solid var(--primary-color);
}

.name, .company{
  width: 15%;
}

.email {
  width: 25%;
}

.salary{
  width: 10%;
}

.state, .age, .gender {
  width: 5%;
  text-align: center;
}

.cpf {
  width: 12%;
}

table td {
  padding: 10px;
  border: 1px solid #eee;
}

table tr:last-child {
  border-bottom: 0;
}

table tr:nth-child(even) {
  background: #f2f2f2;
}

table tr:nth-child(odd) {
  background: #fff;
}

table tr:hover {
  background: #ddd;
}
