@import url("header.css");
@import url("banner.css");
@import url("carousel.css");
@import url("topics.css");
@import url("contact.css");
@import url("footer.css");
@import url("register.css");

:root {
    --background-color: #EBECEE;
    --white: #FFFFFF;
    --gradient-white: linear-gradient(262.46deg, #FFFFFF 0%, rgb(28, 37, 47)  122%);
    --red: #C41018;
    --dark-red: #ac161d;
    --gradient-red: linear-gradient(97.54deg, #C41018 35.49%, rgb(0, 0, 0) 165.37%);
    --gradient-red-carousel: linear-gradient(260deg, #C41018 50.49%, rgb(0, 0, 0) 165.37%);
    --gray: #474646;
    --light-gray: #858585;
    --lead-gray: #1C252F;
    --gradient-lead-gray: linear-gradient(97.54deg, #1C252F 35.49%, rgb(83, 83, 83) 165.37%);

    --font-family: 'Mulish', sans-serif;
    --secondary-font-family: 'Josefin Sans', sans-serif;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}