.contact {
    background-color: var(--white);
    padding: 1em;
}

.contact__title, .contact__text {
    background: var(--gradient-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__text {
    font-weight: 300;
    margin: 1em 0;
}

.contact__email {
    padding: 1em;
    border: 1px solid var(--red);
    border-radius: 24px;
    width: 90%;
}

.contact__email:hover, .contact__email:focus {
    background: var(--dark-red);
    color: var(--white);
    transition: 0.5s;
}

.contact__email::placeholder {
    font-family: var(--font-family);
    color: var(--red);
    background: url(../img/email.svg) no-repeat;
    padding-left: 2.5em
}

.contact__email:hover::placeholder, .contact__email:focus::placeholder {
    color: var(--dark-red);
    background-image: none;
    transition: 0.5s;
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em;
    }
    
    .contact__description {
        margin-right: 2em;
        width: 30%;
    }

    .contact__title {
        font-size: 24px;
    }

    .contact__email {
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .contact {
        padding: 3em 20vw;
    }
    
}